page-filter-popover {

  .back-button {
    display: block;
  }

  .clear-button {
    font-size: $toolbar-ios-button-font-size;
    padding-left: 0;
    padding-right: 0;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;

    .button {
      height: 8rem;
      width: 6rem;
      font-size: 1.2rem;
      color: #000;

      .icon-div {
        background-color: color($colors, light);
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        margin: 0 auto;
        margin-bottom: 1rem;

        .icon {
          height: 4rem;
          color: #aaa;
          vertical-align: middle;
          line-height: 4rem;
          font-size: 2rem;
        }
      }
    }
  }

  .bottom-button {
    margin: 0!important;
  }

}
