<ion-header>

  <ion-navbar>
    <ion-title>{{country}}, {{place}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="persons-block">
    <h3>How many persons?</h3>
    <ion-list no-lines ion-row class="vertical-buttons">
      <ion-item ion-col *ngFor="let person of persons">
        <button ion-button block color="light" value="{{person}}">{{person}}</button>
      </ion-item>
    </ion-list>
  </div>

  <div id="type-block">
    <ion-list no-lines ion-row class="vertical-buttons">
      <ion-item ion-col col-4 *ngFor="let type of types">
        <button ion-button round block color="light" value="{{type}}">{{type}}</button>
      </ion-item>
    </ion-list>
  </div>

  <div id="sunbeds-block">
    <h3>Sunbeds to be at the free umbrella?</h3>
    <ion-list no-lines ion-row class="vertical-buttons">
      <ion-item ion-col col-3>
        <button ion-button clear block icon-left check value="true" checked>
          <ion-icon name="check"></ion-icon>
          Yes
        </button>
      </ion-item>
      <ion-item ion-col col-3>
        <button ion-button clear block icon-left check value="false">
          <ion-icon name="check"></ion-icon>
          No
        </button>
      </ion-item>
    </ion-list>
  </div>

  <div id="zone-block">
    <h3>Zone</h3>
    <ion-list no-lines ion-row class="vertical-buttons">
      <ion-item ion-col col-4 *ngFor="let zone of zones">
        <button ion-button round block color="light" value="{{zone}}">{{zone}}</button>
      </ion-item>
    </ion-list>
  </div>

  <div id="same-sunbeds-block">
    <h3>During your stay do you want sunbeds booked to be the same every day?</h3>
    <ion-list no-lines ion-row class="vertical-buttons">
      <ion-item ion-col col-3>
        <button ion-button clear block icon-left check value="true" checked>
          <ion-icon name="check"></ion-icon>
          Yes
        </button>
      </ion-item>
      <ion-item ion-col col-3>
        <button ion-button clear block icon-left check value="false">
          <ion-icon name="check"></ion-icon>
          No
        </button>
      </ion-item>
    </ion-list>
  </div>

  <ion-row margined>
    <button ion-button round full pink-gradient (click)="next()">Next</button>
  </ion-row>

</ion-content>
