<ion-header class="has-shadow">

  <ion-navbar>
    <ion-title>Beach</ion-title>
  </ion-navbar>

  <ion-toolbar no-padding class="segments-toolbar">
    <ion-segment [(ngModel)]="beachSection">
      <ion-segment-button value="overview">
        Beach
      </ion-segment-button>
      <ion-segment-button value="menu">
        Menu
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content [ngSwitch]="beachSection">

  <div *ngSwitchCase="'overview'" class="beach-overview">
  </div>

  <div *ngSwitchCase="'menu'" class="beach-menu">
    <ion-card *ngFor="let item of menu" [class.itemsShown]="item.itemsShown">
      <ion-row class="category" (click)="toggleItems(item)">
        <span ion-text text-capitalize color="primary" class="category-name">{{item.category}}</span>
        <ion-icon color="primary" [name]="item.itemsShown ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>
      </ion-row>
      <div *ngIf="item.itemsShown">
        ITEMS
      </div>
    </ion-card>
  </div>

</ion-content>
