// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

*[pink-gradient] {
  background: linear-gradient(to right, #fe5295, #f86d67);
}

.segment-md .segment-button {
  text-transform: capitalize;
  font-size: 1.6rem;
  color: color($colors, light);

  &.segment-activated {
    color: color($colors, primary);
  }
}

.button[check] {

  color: #000;
  text-transform: uppercase;

  .icon {
    height: 3rem;
    width: 3rem;
    background-color: color($colors, light);
    border-radius: 5px;
    margin-right: 1rem;
  }

  &[checked] {

    color: color($colors, primary);
    .icon {
      background: linear-gradient(to right, #fe5295, #f86d67);
    }

  }
}

.item.item-input[rounded-input],
.item.item-input.input[rounded-input] {

  box-shadow: none!important;

  .item-inner {
    background-color: #e5e5e5;
    border-radius: 3rem!important;
    border: none;
  }

}

.item.item-input .item-inner,
.item.item-input.input .item-inner {

  border-bottom-color: #eee;
  box-shadow: inset 0 -1px 0 0 #eee;
  padding-right: 0;

  .text-input {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
  }

}

.row[no-side-padding]>.col {

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

}

.bar-button {
  text-transform: none;
  color: color($colors, primary);
}

.label[stacked] {
  font-size: 1.4rem;
}

.item {
  padding-left: 0;
}

.button.button-default {
  height: 5rem;
}

*[margined] {
  margin-left: 20%!important;
  margin-right: 20%!important;
}

*[no-top-margin] {
  margin-top: 0 !important;
}

*[no-bottom-margin] {
  margin-bottom: 0 !important;
}

*[no-top-padding] {
  padding-top: 0 !important;
}

*[no-bottom-padding] {
  padding-bottom: 0 !important;
}

ion-app.ios {
  ion-fab[top]{
    top: 25px;
  }
}

ion-app.md {
  .button,
  .fab {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

h1,
h2 {
  color: color($colors, primary);
}

h1 {
  font-family: 'Honeymoon';
}

.item h3 {
  font-size: 1.6rem;
}

*[text-small] {
  font-size: 1rem;
  color: color($colors, grey);
}

.tabs .tabbar {
  background-color: #fff;
}

.toolbar-background {
  border: none!important;
}

.header-md:not(.has-shadow)::after {
  background-image: none;
}

.header-ios.has-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
}

ion-popover {

  ion-backdrop {
    opacity: .5;
  }

}

// Graphic and icons

.or {
  height: 3rem;
  width: 100%;
  background-image: url('../assets/imgs/or.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.icon[name=place-sunbed] {
  background-image: url('../assets/imgs/place-icons/sunbed.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 2rem;
  width: 2rem;
}

.icon[name=place-umbrella] {
  background-image: url('../assets/imgs/place-icons/umbrella.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 2rem;
  width: 2rem;
}

.icon[name=place-baldaquin] {
  background-image: url('../assets/imgs/place-icons/baldaquin.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 2rem;
  width: 2rem;
}

.icon[name=option-baldaquin],
.icon.ion-md-option-baldaquin,
.icon.ion-ios-option-baldaquin {
  background-image: url('../assets/imgs/place-icons/baldaquin.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.6rem;
  width: 1.6rem;
}

.icon[name=option-cash],
.icon.ion-md-option-cash,
.icon.ion-ios-option-cash {
  background-image: url('../assets/imgs/option-icons/cash.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.6rem;
  width: 1.6rem;
}

.icon[name=option-credit],
.icon.ion-md-option-credit,
.icon.ion-ios-option-credit {
  background-image: url('../assets/imgs/option-icons/credit.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.6rem;
  width: 1.6rem;
}

.icon[name=option-bar],
.icon.ion-md-option-bar,
.icon.ion-ios-option-bar {
  background-image: url('../assets/imgs/option-icons/bar.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.6rem;
  width: 1.6rem;
}

.icon[name=option-food],
.icon.ion-md-option-food,
.icon.ion-ios-option-food {
  background-image: url('../assets/imgs/option-icons/food.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.6rem;
  width: 1.6rem;
}

.icon[name=option-shower],
.icon.ion-md-option-shower,
.icon.ion-ios-option-shower {
  background-image: url('../assets/imgs/option-icons/shower.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.6rem;
  width: 1.6rem;
}

.icon[name=option-wifi],
.icon.ion-md-option-wifi,
.icon.ion-ios-option-wifi {
  background-image: url('../assets/imgs/option-icons/wifi.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.6rem;
  width: 1.6rem;
}

.icon[name=option-music],
.icon.ion-md-option-music,
.icon.ion-ios-option-music {
  background-image: url('../assets/imgs/option-icons/music.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.6rem;
  width: 1.6rem;
}
